<h2>What's the point?</h2>
<div class="jumbotron">
  <h4>
    TwentyFour is a tool to help you develop and maintain productive habits!
  </h4>
  <ul>
    <li>Optimize your life by categorizing your priorities (e.g. mind, body, and relationships)</li>
    <li>Hold yourself accountable by recording daily investments into those pursuits</li>
    <li>Keep yourself motivated by looking back on past progress</li>
  </ul>
</div>

<h2>Long-term Vision</h2>
<div class="jumbotron">
  <h4>
    Aesthetically appealing web app that transforms user data into charts and other visuals!
  </h4>
  <h5>


  <ol>
    <li>Analyze data patterns</li>
    <li>Learn an API for charts</li>
    <li>Implement priority pie chart</li>
    <li>Implement progress bars</li>
    <li>Implement month-to-month comparisons</li>
    <li>etc etc</li>
  </ol>
</div>

<h2>Upcoming Improvements</h2>
<div class="jumbotron">
  <h4>
    As of late August 2015, the app simply saves user entries and sorts them into basic categories. My next priority is to keep playing with Bootstrap CSS and give the app a sexier presentation.
  </h4>

  <ul>
    <li>Clean up header + remove "back" button</li>
    <li>Add my name to the header + link to about page</li>
    <li>Create a more professional changelog</li>
    <li>Merge this page with home page</li>
    <li>Scrollspy + Navbar for this page</li>
    <li>Fix inconsistent font sizing + poor color choice + enlarge tables</li>
    <li>... and much more</li>
  </ul>
</div>

<h2>Official Changelog</h2>
<div class="jumbotron">
  <h4>
    Coming up next!
  </h4>
</div>