<div class="jumbotron">
  <h1>Welcome to TwentyFour!</h1>
  <p>Productivity app built with Rails & Bootstrap</p>
  <% if user_signed_in? %>
    <p><a class="btn btn-primary btn-lg" href="users" 
          role="button">Enter!</a></p>
  <% else %>
    <p><a class="btn btn-primary btn-lg" href="users/sign_in" 
          role="button">Log in (modal)</a></p>
    <p><a class="btn btn-primary btn-lg" href="users/sign_up"
          role="button">Sign Up(modal)</a></p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Example(Vert-scroll)</a></p>
  <% end %>
    <p><a class="btn btn-primary btn-lg" href="about" 
          role="button">About</a></p>
</div>