<%= render 'shared/nav1' %>

<h2><%= @user.name %>'s Activities (Totals)</h2>
<table>
    <tr>  
        <th>Category</th>
        <th>Hours</th>
    </tr>
      <% @act_cats.each do |activity| %>
    <tr>
        <td><%= link_to activity.category, 
            activities_path(cat: activity.category, id: @id) %></td>
        <td><%= activity.total %> hrs</td>

      <% end %>
    </tr>
</table>

<% if user_signed_in? && @user == current_user %>

  Add Today's Activities:<br>
  <%= render 'shared/add_new_entry_form' %>
<% end %>