<%= form_for(Activity.new) do |f| %>
    
    <div class="field">
      <%= f.label :name %><br />
      <%= f.text_field :name, maxlength: 20, required: true %>
    </div>
    <div class="field">
      <%= f.label :category %><br />
      <%= f.text_field :category, maxlength: 20, required: true %>
    </div>
    <div class="field">
      <%= f.label :hours %><br />
      <%= number_field(:activity, :hours, in: 0.5..24.0, step: 0.5,
                       required: true) %>
    </div>

    <%= f.hidden_field :day, value: "#{Time.now.day}".to_i %>
    <%= f.hidden_field :month, value: "#{Time.now.month}".to_i %>
    <%= f.hidden_field :year, value: "#{Time.now.year}".to_i %>
    
    <div class="actions">
      <%= f.submit "Add!" %>
    </div>
  <% end %>