
<%= form_for(Activity.new) do |f| %>

  <div class="field">
    <%= number_field(:activity, :hours, in: 0.5..10.0, step: 0.5) %>
  </div>

  <%= f.hidden_field :name, value: "#{@name}" %>
  <%= f.hidden_field :category, value: "#{@cat}" %>
  <%= f.hidden_field :day, value: "#{Time.now.day}".to_i %>
  <%= f.hidden_field :month, value: "#{Time.now.month}".to_i %>
  <%= f.hidden_field :year, value: "#{Time.now.year}".to_i %>

  <div class="actions">
    <%= f.submit "Add!" %>
  </div>
<% end %>