<ul class="nav nav-tabs" role="tablist">
    
    <li><%= link_to 'Welcome', home_path %></li>
    
    <% if user_signed_in? %>
        <li><%= link_to 'Totals', users_path %></li>
    <% end %>
    
    <li><%= link_to 'Back', :back %></li>
    
    <% if user_signed_in? %>
        <li><%= link_to 'Log out', destroy_user_session_path, method: :delete %></li>
    <% end %>

</ul>