<ul class="nav nav-tabs" role="tablist">
  <li role="presentation"><%= link_to "Totals", users_path %></li>    
  <% @act_cats.each do |activity| %>
    <li role="presentation"><%= link_to activity.category, 
            activities_path(cat: activity.category, id: @id) %></li>
  <% end %>
</ul>