<ul class="nav nav-tabs" role="tablist">
  <li role="presentation"><%= link_to @cat, activities_path(cat: @cat, id: @id) %></li> 
  <% @act_names.each do |activity| %>
    <li role="presentation"><%= link_to activity.name, 
            activities_path(cat: activity.category, name: activity.name, id: @id) %></li>
  <% end %>
</ul>