<table>
    <tr>
        <th>Hours</th>
        <th>Date</th>
    </tr>
    
  <% @act_entries.each do |entry| %>  
    <tr>
        <td><%= entry.hours %> hrs</td>
        <td><%= entry.month %>/<%= entry.day %>/<%= entry.year %></td>
        <td><%= button_to "Delete", 
                {controller: :activities, action: :destroy, id: entry.id}, 
                {method: :delete, data: {confirm: "Are you sure?"}} %></td>
    </tr>
  <% end %>
</table>