<table>
    <tr>
        <th>Activity</th>
        <th>Hours</th>
    </tr>
    
    <% @act_names.each do |activity| %>
    <tr>
        <td><%= link_to activity.name, 
            activities_path(cat: activity.category, name: activity.name, id: @id) %></td>
        <td><%= activity.total %> hrs</td>
    <tr>
    <% end %>
</table>