<%= render 'shared/nav2' %>

<% if @name.nil? %> <!-- if viewing Activities at Category level-->
  <h2>Category: <%= @cat %></h2>
  <h5>User: <%= @user.name %></h5>
  <%= render 'shared/table_of_acts' %>
<% else %> <!-- if viewing Entries at Activity level-->
  <h2>Activity History:<%= @name %></h2>
  <h5>User: <%= @user.name %></h5>
  <%= render 'shared/table_of_entries' %>
<% end %>
  
  
<% if user_signed_in? && @user == current_user %>
  <% if @name.nil? %>
    <%= render 'shared/add_more_hours_2' %>
  <% else %>
    <%= render 'shared/add_more_hours_3' %>
  <% end %>
<% end %>